.card-e9c46b {
  border: 3px solid #e9c46b;
  background-color: white;
}

.card-e66f51 {
  border: 3px solid #e66f51;
  background-color: white;
}

.card-f3a261 {
  border: 3px solid #f3a261;
  background-color: white;
}

.card-2a9d8e {
  border: 3px solid #2a9d8e;
  background-color: white;
}

.card-264553 {
  border: 3px solid #264553;
  background-color: white;
}

.card-header-e9c46b {
  background-color: rgba(233, 195, 107, 0.3);
}

.card-header-e66f51 {
  background-color: rgba(230, 111, 81, 0.3);
}

.card-header-f3a261 {
  background-color: rgba(243, 163, 97, 0.3);
}

.card-header-2a9d8e {
  background-color: rgba(42, 157, 142, 0.3);
}

.card-header-264553 {
  background-color:rgba(38, 69, 83, 0.3);
}

.div-place-holder {
  background-color: grey;
}

.main-container {
  margin: 20px; 
}

.custom-border {
  border: 2px solid rgba(0, 0, 0, 0.2);  
  padding: 20px;             
}

.navbar-logo {
  margin-right: 30px; 
}

.custom-navbar{
  background-color: #264553 !important;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dash-graph {
  height: 100% !important;  /* Sicherstellen, dass der Graph die gesamte Höhe nutzt */
  width: 100% !important;   /* Sicherstellen, dass der Graph die gesamte Breite nutzt */
}

.custom-btn {
  background-color: #264553;
  border-color: #264553;

}
.custom-btn:hover {
  background-color: rgba(38, 69, 83, 0.8); /* Hintergrundfarbe bei Hover */
  border-color: rgba(38, 69, 83, 0.8);     /* Rahmenfarbe bei Hover */
}